<div class="text-style-block">
     <div class="title">Оформление</div>

     <div class="h-block btn-group"></div>
     <div class="text-color btn-group"></div>
     <div class="bg-color btn-group"></div>

     <!--  
     <div class="font-size-block">
          <div class="btn">-</div>
          <div class="font-size">16px</div>
          <div class="btn">+</div>
     </div>
     <div class="font-weight-block">
          <div class="btn">Bold</div>
          <div class="btn">Normal</div>
     </div>
-->
</div>

<div class="repeat-block">
     <div class="title">Повторять</div>
     <div class="days-block"></div>
     <div class="time-block input" contenteditable="true">23.08.26</div>
     <div class="btn btn-clear">Очистить</div>
</div>
<div class="url-block">
     <div class="title">Адресс для ссылки</div>
     <div class="url input" contenteditable="true"></div>
</div>